*.o
*.d
*.gch
*.swp
*.swo

*.dylib

# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.swp
*.xcuserstate
*.xccheckout
*.dSYM

cpp/poco-1.5.3-all/PageCompiler/bin/Darwin/x86_64/cpspc
cpp/poco-1.5.3-all/PageCompiler/bin/Darwin/x86_64/cpspcd
cpp/poco-1.5.3-all/PageCompiler/File2Page/bin/Darwin/x86_64/f2cpsp
cpp/poco-1.5.3-all/PageCompiler/File2Page/bin/Darwin/x86_64/f2cpspd
